html
	body
		include navbar.html
		h1 #{product.name}
		hr
		h4 Product Id :  #{product._id}
		h4 Manufactured on: #{product.batch}
		h4 Expiry:  #{product.expiry}
		ul
			each val in stackmapdetails
				li
					p  Stack id : #{val.stack.id}
					p  Location: (#{val.stack.x}, #{val.stack.y})
					p  Count: #{val.count}
					//- p Do you want to bring this product?
					form(action="/tasks" method="POST")
						//- label x:
						input(type="number" name="x" value=val.stack.x readonly style="display:none;")
						//- br
						//- label y:
						input(type="number" name="y" value=val.stack.y readonly style="display:none;")
						//- br
						input(type="Submit" value="Bring")
					

		//- h3 :   #{stack.id}
		//- h3 count of products: #{stack.count}
		//- div
			h2 Do you want to bring this product?
			form(action="/tasks" method="POST")
				label x:
				input(type="number" name="x" value= val.stack.x readonly)
				br
				label x:
				input(type="number" name="y" value= val.stack.y readonly)
				br
				input(type="Submit" value="Submit")
			
		